<!--(mouseover)=="{color:hover==true  ? 'powderblue' : 'azure' }"The content below is only a placeholder and can be replaced.-->
  
<div class="container col-md-10" >
<span ><a [title]="'Home'" [routerLink]="['']"><h2>My Store</h2></a></span>
<div id="cart">

<div id="cartimg"><span><a [title]="'Cart'" [routerLink]="['cart']"><img src="../assets/cart.png"></a></span>
    
 </div>
<!--<div *ngIf="true" id="numberCircle"><p text-align="center"></p></div>-->

</div>

</div>

<router-outlet></router-outlet>







